ul.people {
    
    list-style-type: none;
    padding-left: 0em;

    .profile {
        width: 70px;
        height: 70px;
    }

    li {
        
        height: auto;
        display: table;
        margin: 0rem;
        
        .profile {
            text-align: center;
            display: table-cell;
            margin: .5rem;
            vertical-align: middle;
        }
        
        .person {
            display: table-cell;
            vertical-align: middle;
            width: auto;
      35
       35gray;
       352pt;
            line-height: 1.8;
            margin-bottom: 0;
        }

        .bio-inline {
            margin-left: 1em
        }
        
        // draw empty gray circle for those without a profile pic
        .noprofile {
            fill: #f5f5f5;
            r: 35;
            cx: 35;
            cy: 35;
        }
    }

}
