---
layout: page
title: Publications
use-site-title: true
---

<blockquote>
This page presents a set of selected publications on my main areas of research and contributions therein. For a complete list check my <a href="https://scholar.google.ca/citations?user=mo6UPuIAAAAJ">Google Scholar page</a>.	
</blockquote>

{% assign tags =  site.publications | map: 'tags' | join: ','  | split: ',' | uniq %}
{% for tag in tags %}
  <h3>{{ tag }}</h3>
  <ul>
  {% for p in site.publications %}
	  <p>Tags: {{ p.tags }} =>
	   Tag: {{ tag }}</p>
    {% if p.tags contains tag %}
    <li><a href="{{ p.pdf }}">{{ p.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}


<div class="posts-list">	  	
	
{% for p in site.publications reversed%}
    <div class="publication {{ p.year }}">
    {% if p.pdf %}
	<p class="pubtitle"><a href="{{ p.pdf }}">{{ p.title }}</a></p>
        <p class="pubauthors">{{ p.authors }}</p>
	<p class="pubvenue">{{ p.venue }}</p>
	<p class="pubicons">
		[ <a href="{{ p.pdf }}">
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i> pdf
		</a> ] 
		{% if p.award %}
		[ <i class="fa fa-trophy" aria-hidden="true"></i><span class="outline"> {{ p.award }} </span> ]
		{% endif %}		
	</p>
    {% else %}
	<p class="pubtitle">{{ p.title }}</p>
        <p class="pubauthors">{{ p.authors }}</p>
	<p class="pubvenue">{{ p.venue }}</p>
    {% endif %}
    </div>
 {% endfor %}	  
</div>
