---
layout: page
title: Publications
use-site-title: true
---

<div class="posts-list">
{% for p in site.publications reversed%}
    {% if p.pdf %}
	<p class="pubtitle"><a href="{{ p.pdf }}">{{ p.title }}</a></p>
        <p class="pubauthors">{{ p.authors }}</p>
	<p class="pubvenue">{{ p.venue }}</p>
	<p class="pubicons">
		<a href="{{ p.pdf }}">
			<i class="fa fa-file-pdf-o fa-2x"></i>
		</a>
	</p>
    {% else %}
	<p class="pubtitle">{{ p.title }}</p>
        <p class="pubauthors">{{ p.authors }}</p>
	<p class="pubvenue">{{ p.venue }}</p>
    {% endif %}
 {% endfor %}	  
</div>
