---
layout: page
title: Publications
use-site-title: true
---

<div class="posts-list">
{% for p in site.publications reversed%}
    {% if p.pdf %}
	<p class="pubtitle"><a href="{{ p.pdf }}">{{ p.title }}</a></p>
        <p class="pubauthors">{{ p.authors }}</p>
	<p class="pubvenue">{{ p.venue }}</p>
	<p class="pubicons">
		[ <a href="{{ p.pdf }}" aria-label="pdf">
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF
		</a>] 
		{% if p.award %}
			[ <i class="fa fa-trophy" aria-hidden="true"></i> {{ p.award }} ]
		{% endif %}		
	</p>
    {% else %}
	<p class="pubtitle">{{ p.title }}</p>
        <p class="pubauthors">{{ p.authors }}</p>
	<p class="pubvenue">{{ p.venue }}</p>
    {% endif %}
 {% endfor %}	  
</div>
