---
layout: page
title: Research
use-site-title: true
---

<div class="row pack">      
        
            {% for p in site.projects %}
            <div class="col-md-4 card">
                    <div class="panel panel-default">
                {% if p.image %}
                <img width="100%" src="/img/{{ p.image }}" alt="{{ p.title }}">
                {% endif %}
                <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ p.title }}</h3><span class="post-meta pull-right"><small>{{ p.year }}</small></span>
                </div>
                <div class="panel-body"><small>
                    {{ p.description | strip_html | strip_newlines | truncate: 160 }}</small>
                </div>
                </div>
            </div>
            {% endfor %}
</div>
