<div class="card-columns">
    
{% for p in site.projects %}
<div class="card">
        <div class="card-block">
            <div class="title">           
                <h3 class="card-title">{{ p.title }}</h3>
            </div>
            <div class="card-text">
                {{ p.description | markdownify }}
            </div>
        </div>
        {% if p.people %}
        <div class="card-footer">
           <!-- {% include project-people.html people=p.people %} -->
        </div>
        {% endif %}
    </div>
{% endfor %}
</div>
